.titulo {
    text-align: center;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

.button {
    border: none;
    color: white;
    padding: 6px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #3a3f40;
}

.button2:hover {
    background-color: #3a3f40;
    color: white;
}

ul.cloud {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
    width: 100%;
}

ul.cloud a {
    --size: attr(data-weight number, 2);
    --color: #a33;
    color: var(--color);
    font-size: calc(var(--size) * 0.25rem + 0.5rem);
    display: block;
    padding: 0.125rem 0.25rem;
    position: relative;
    text-decoration: none;
}

ul[data-show-value] a::after {
    content: " (" attr(data-weight) ")";
    font-size: 1rem;
}

ul.cloud li:nth-child(2n+1) a {
    --color: #181;
}

ul.cloud li:nth-child(3n+1) a {
    --color: #33a;
}

ul.cloud li:nth-child(4n+1) a {
    --color: #c38;
}

ul.cloud a:focus {
    outline: 1px dashed;
}

ul.cloud a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background: var(--color);
    transform: translate(-50%, 0);
    opacity: 0.15;
    transition: width 0.25s;
}

ul.cloud a:focus::before,
ul.cloud a:hover::before {
    width: 100%;
}

@media (prefers-reduced-motion) {
    ul.cloud * {
        transition: none !important;
    }
}
